:root {
  --brand-primary: #F84600;
  --brand-orange-50: #FFF0DB;
  --brand-orange-100: #FFA940;
  --brand-orange-200: #F97300;
  --brand-orange-300: #E25C00;
  --brand-orange-400: #F84600;
  --brand-orange-500: #C63A00;
  --brand-orange-600: #8F2A00;
  --brand-background: #FFFFFF;
  --brand-text: #151515;
  --brand-black: #050505;
}
